<ul class="list-unstyled components">
    <li><a href="{% url 'pannes:liste_pannes' %}"><i class="bi bi-ticket-fill me-2"></i>Tickets</a></li>
    <li><a href="#"><i class="bi bi-calendar-fill me-2"></i>Calendrier</a></li>
    <li><a href="{% url 'accounts:liste_utilisateurs' %}"><i class="bi bi-people-fill me-2"></i>Utilisateurs</a></li>
    <li><a href="#"><i class="bi bi-file-text-fill me-2"></i>Rapports</a></li>
    <li><a href="#"><i class="bi bi-gear-fill me-2"></i>Paramètres</a></li>
</ul>